@import 'src/app/resources';

$menu-trigger-location: 6rem;
$menu-trigger-size: 7rem;

.menu-trigger {
  z-index: 100;

  position: fixed;
  top:  $menu-trigger-location;
  right: $menu-trigger-location;

  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);

  height: $menu-trigger-size;
  width: $menu-trigger-size;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .top-line,
  .middle-line,
  .bottom-line {
    width: 3rem;
    height: 2px;
    background-color: $color-gray-dark;
    position: relative;
  }

  .top-line { top: -5px; }
  .bottom-line { top: 5px; }
}

.menu-container {
  z-index: 10;

  position: fixed;
  top: $menu-trigger-location;
  right: $menu-trigger-location;

  width: $menu-trigger-size;
  height: $menu-trigger-size;

  border-radius: 50%;

  background-image: radial-gradient($color-primary-light, $color-primary-dark);
}

.menu {
  @include absolute-center();
  z-index: 50;
  
  list-style: none;
  text-transform: uppercase;

  font-size: 3rem;
  font-weight: 300;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;

  .menu-element {
    cursor: pointer;
    padding: 1rem 2rem;

    transition: all .4s linear;

    span { margin-right: 1.5rem; }

    &:hover {
      color: $color-primary;
      transform: translateX(5%);

      // this is magic :-)
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-position: 100%;
      background-size: 250%;
    }
  }
}
