@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'src/app/resources';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  padding: 3rem;

  font-family: $font-primary;
  line-height: 1.7;
}
